/*
####
Embedded html styling of the canvases and it's contents
####
*/

*{
  font-family: 'Staatliches', cursive;
}

html{
  width: 100%;
  height: 100%;
}
body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#source-selector{
  background: white;
  position: absolute;
  width: 100%;
  z-index: 10;
  top:40%;
}

a-scene {
    display: inline-block!important;
}
select{
  padding: 8px;
}


.button{
  background-color: #4CAF5099; /* Green */
  border: none;
  color: white;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

#canvas{
  display:none;
}

#overlay{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

#video{
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}

#scene {
    display: inline-block!important;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#border-box-canvas{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

#main-container{
    position: absolute;
    left: 0;
    top:0;
    width:100%;

}


#absolute_html_canvas{
    display: block;
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 5;
}

#relative_html_canvas{
    height: 1000px;
    width: 300px;
}

.post{
    background-color: aliceblue;
    opacity: 100%;
}

/*
####
Dropdown Styling
####
*/

/* Dropdown Button */
.dropdown_button {
    background-color: lightblue;
    color: white;
    padding: 17px;
    border: none;
}

.dropdown_button > div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.dropdown {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
