
.widget-menu{
  position: relative;
  width: 100%;
  height: 100%;


  text-align: center;

}

.widget-menu-button:hover{
}


.widget-button{
  height: 100%;
  position: relative;
}

.widget-button-container{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  text-align: center;

  transform: translateY(-50%);
}

.widget-button img{
  vertical-align: middle;
  margin: 0;
  margin-right: 8px;
  display: inline-block;
  height: 32px;
}

.widget-button p{
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 40px;
}

.widget-menu-button .no-text{
  margin-top:10%;
  height: 80%;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
}




.widget-menu-button{
  padding-top: 16px;
  height: 100%;
  margin:2%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top:0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

}

.widget-menu-button img{
  width: auto;
  height: 40%;
  margin-bottom: 0;
}

.widget-menu-button p{
  margin-top:8px;
  font-weight: bold;
  color: #222222;
  font-size: 24px;
}



.vote-button{
  display: inline-block;
  vertical-align: middle;
  margin: 2%;
  width: 15%;

}


.widget-youtube{
  width: 100%;
  height: 500px;
}

.widget-video{
  width: 500px;
  height: 500px;
  background: red;
}

.html-container{

}
.discuss-item{
  padding: 8px;
  opacity: 0.8;
  margin: 24px;
}

.discuss-avatar{
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align:bottom;
}

.discuss-message{
  margin-left: 24px;
  max-width: 300px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  display: inline-block;
}
